---
import { Head } from "astro-capo";
---

<Head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Galactic Fishing</title>
  <meta
    name="description"
    content="Galactic Fishing Game is a site where you see the positions of the fishers and the market items."
  />
</Head>
