---
import BaseHead from "./base-head.astro";

import "@styles/global.css";
---

<html lang="en">
  <BaseHead />

  <body>
    <main class="w-full max-w-screen h-screen">
      <slot />
    </main>
  </body>
</html>
